<header>
  <div class="container">
    <a href="/" class="logo">
        <svg><use xlink:href="#logo"></use></svg>
        QR Menu Pro
    </a>

    <input type="checkbox" class="menu-toggle-checkbox" id="menu-toggle-checkbox"></input>
    
    <label for="menu-toggle-checkbox" class="menu-toggle" aria-label="Toggle menu">
      <svg class="icon-menu"><use xlink:href="#menu"></use></svg>
      <svg class="icon-close"><use xlink:href="#close"></use></svg>
    </label>

    <nav>
      <a>Features</a>
      <a>Pricing</a>
      <a>Demo</a>
      <a>Support</a>
    </nav>
  </div>
</header>
